title SUSHI DRAGON
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(href='loginassets/https://fonts.googleapis.com/css?family=Muli:300,400,600,700', rel='stylesheet')
link(href='loginassets/https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
link(rel='stylesheet', href='loginassets/css/open-iconic-bootstrap.min.css')
link(rel='stylesheet', href='loginassets/css/animate.css')
link(rel='stylesheet', href='loginassets/css/owl.carousel.min.css')
link(rel='stylesheet', href='loginassets/css/owl.theme.default.min.css')
link(rel='stylesheet', href='loginassets/css/magnific-popup.css')
link(rel='stylesheet', href='loginassets/css/aos.css')
link(rel='stylesheet', href='loginassets/css/ionicons.min.css')
link(rel='stylesheet', href='loginassets/css/bootstrap-datepicker.css')
link(rel='stylesheet', href='loginassets/css/jquery.timepicker.css')
link(rel='stylesheet', href='loginassets/css/flaticon.css')
link(rel='stylesheet', href='loginassets/css/icomoon.css')
link(rel='stylesheet', href='loginassets/css/style.css')
